{% extends 'base.html' %}

{% block title %}
    TEST
{% endblock %}

{% block content_title %}
    <p> Задание </p>
{% endblock %}

{% block content %}
    <div>
        <p> Необходимо написать WEB API на основе фреймвёрка flask, celery и sqlalchemy. </p>
        <br>

        <p> API имеет 5 функций:</p>
        <p> Умножение - метод POST, на вход подается 2 параметра, на выходе результат в формате JSON </p>
        <p>Деление - метод POST, на вход подается 2 параметра, на выходе результат(float) в формате JSON </p>
        <p>Сложение - метод POST, на вход подается 2 параметра, на выходе результат в формате JSON </p>
        <p>Возведение в степень - метод POST, на вход подается 2 параметра, на выходе результат в формате JSON </p>
        <p> Отчет о работе api за последние сутки - метод GET, на вход подается 0 параметров, на выходе результат
        <p>суммарного вызова каждой математической функции в формате JSON вида: </p>

        <p>{'Сложение': 5, 'Умножение': 6, 'Деление':10, 'Возведение в степень':123} </p>
        <br>
        <p>
        <p>На каждый вызов математических функций должна быть запись в таблице логов в БД.</p>
        <p>Лог должен содержать следующую информацию (минимум):</p>
        <p>Дата</p>
        <p>IP-адрес клиента</p>
        <p>Входные параметры</p>
        <p>Результат работы функции</p>
        </p>
          <br>
        <p>
            API должно являться проксирущей прослойкой для данных.
            Все вычисления реализовать через библиотеку celery (в процессе разработки рекомендую использовать флаг
            task_always_eager=True в настройках celery)
            Вся работа с базой данных ведется через ORM SqlAlchemy
            Выбор базы данных может быть любой, но в рамках тестового задания есть смысл ограничиться sqlite</p>
    </div>

{% endblock %}